.question {
  background: var(--gray-100);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
  padding: 1.5em;

  & + .question {
    margin-top: 1em;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid var(--primary-color);

    footer .user-info span {
      color: var(--gray-800);
    }
  }

  &.answered {
    background: #DBDCDD;
  }

  p {
    color: var(--gray-800);
    line-height: 1.618;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;

    .user-info {
      display: flex;
      align-items: center;
  
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
  
      span {
        margin-left: 8px;
        color: var(--gray-300);
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 1em;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter .2s;

      &.like-button {
        align-items: flex-end;
        color: var(--gray-300);
        display: flex;
        gap: .5em;

        &:hover {
          filter: brightness(.7);
        }

        &.liked {
          color: var(--primary-color);

          svg path {
            stroke: var(--primary-color);
          }
        }
      }
    }
  }
}

.dark .question {
  background: #333333;

  &.highlighted {
    background: #150f19;

    footer .user-info span {
      color: var(--gray-800);
    }
  }

  &.answered {
    opacity: .2;
  }

  p {
    color: var(--gray-200);
  }
}