.page-auth {
  align-items: stretch;
  background: var(--background-default);
  display: flex;
  min-height: 100vh;

  aside {
    display: none;

    @media(min-width: 900px) {
      background: var(--primary-color);
      color: var(--light-color);
      display: flex;
      flex-direction: column;
      flex: 7;
      justify-content: center;
      padding: 7.5em 5em;
    }

    img {
      max-width: 320px;
    }
  }

  .app-copy {
    strong {
      font: 700 2.25em var(--title-font);
      line-height: 1.16;
      margin-top: 1em;
    }

    p {
      color: var(--light-color);
      font-size: 1.5em;
      line-height: 1.3;
      margin-top: 1em;
    }

    & + .create-room {
      margin: 2em 0 0 0;

      @media(min-width: 900px) {
        margin-top: 4em;
      }
    }
  }

  main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 8;
    padding: 2em;
  }

  .main-content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 320px;
    text-align: center;
    width: 100%;

    > img {
      align-self: center;
      max-width: 150px;
    }

    .app-copy {
      margin-top: 2em;
      text-align: left;
      
      @media(min-width: 900px) {
        display: none;
      }

      p {
        font-size: 1.5em;
      }
    }

    h2 {
      color: var(--gray-800);
      font-family: var(--title-font);
      font-size: 1.5em;
      margin: 2em 0 1.5em;
    }

    form {
      input {
        background: var(--light-color);
        border: 1px solid var(--gray-200);
        border-radius: 8px;
        height: 3.125em;
        padding: 0 1em;
      }

      button {
        margin: 1em 0 0 0;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      color: var(--gray-300);
      font-size: .875em;
      margin-top: 1em;

      a {
        color: var(--secondary-color);
      }
    }
  }

  .create-room {
    align-items: center;
    background: var(--google-brand-color);
    border: 0;
    border-radius: 8px;
    color: var(--light-color);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 3.125em; 
    justify-content: center;
    margin-top: 4em;
    transition: filter .2s;

    img {
      margin: 0 .5em 0 0;
    }

    &:hover {
      filter: brightness(.9);
    }
  }

  .separator {
    align-items: center;
    font-size: .875em;
    color: var(--gray-200);
    display: flex;
    margin: 2em 0;

    &::before,
    &::after {
      background: var(--gray-200);
      content: '';
      flex: 1;
      height: 1px;
      margin-right: 1em;
    }

    &::after {
      margin-left: 1em;
      margin-right: 0;
    }
  }

  footer {
    margin: 2em 0 0 0;

    .toogle-theme {
      margin: 1em 0 0 0;
    }
  }
}

.dark {
  .main-content {
    .app-copy {
      color: var(--gray-800);
    }
  }
}